body {
    font-family: Arial;
    margin: 2em;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 8px;
}

.hadir {
    color: green;
}

.tidak-hadir {
    color: red;
}

.videoCam {
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 8px;
}
